@tailwind base;
@tailwind components;
@tailwind utilities;


.mainbutton{
  @apply px-5 py-2 bg-[#FE9063] shadow-[0px_9px_10px_0px_rgba(254,144,99,0.35)] text-white
}

.wrap {
  text-align: center;
  border: 10px double rgb(53, 2, 35);
  background-clip: padding-box;
}
.inner {
  background: rgba(255, 255, 255, .5);
  margin: auto;
  margin-top: 10px;
}

.selectedDisplayFeature{
 @apply py-2 bg-indigo-700 rounded-lg border-b-4 border-indigo-400 font-semibold 
}